# Lists in Python

In [3]:
fruits = ["apple","banana","cherry"]
print(fruits[2])

cherry

In [ ]:
numbers = [10, 20, 30, 40, 50]

## Practice Problem

In [10]:
raw_scores = [72, 88, 91, 65, 79, 85]
final_scores = []
for score in raw_scores:
    if score < 80:
        final_scores.append(score + 5)
    else:
        final_scores.append(score)
print(final_scores)

[77, 88, 91, 70, 84, 85]

## Practice Problem Variant

In [14]:
scores = [72, 88, 91, 65, 79, 85]
for i in range(len(scores)):
    if scores[i] < 80:
        scores[i] = (scores[i] + 5)
    else:
        scores[i] = scores[i]
print(scores)

[77, 88, 91, 70, 84, 85]

## String Methods + Immutability

In [15]:
s = "  hello world  "

print(s.strip())
print(s.upper())
print(s.lower())
print(s.replace("hello", "hi"))
print(len(s))

hello world
  HELLO WORLD
  hello world
  hi world
15

## Tuples – Fixed Data Collections

In [16]:
point = (4,7)
print(point[0])
print(point[1])

4
7

In [17]:
x, y = point
print(x + y)

11

## Unordered, Unique Items

In [18]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)
print(unique_nums)

{1, 2, 3, 4, 5}

In [37]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}

## Dictionaries – Key-Value Pairs

In [25]:
grades = {"Alice": 91, "Bob": 85, "Carol": 77}

print(grades["Bob"])

grades["David"] = 88
grades["Bob"] = 90
del grades["Carol"]
print(grades)

for name, score in grades.items():
    print(f"{name}: {score}")

85
{'Alice': 91, 'Bob': 90, 'David': 88}
Alice: 91
Bob: 90
David: 88

## Functions

In [28]:
def greet(name):
    return f"Hello, {name}!"
print(greet("Holden"))

Hello, Holden!

# Problem Set

## Number One:

In [34]:
prices = [24.99, 55.00, 72.50, 19.95, 88.00, 45.00, 60.00]
updated = []
for price in prices:
    if price > 50:
        updated.append(price * .9)
    else:
        updated.append(price)
print(updated)

[24.99, 49.5, 65.25, 19.95, 79.2, 45.0, 54.0]

## Number Two:

In [36]:
point = (3, 7, 12)
x = point[0]
y = point [1]
z = point[2]
total = x + y + z

print(total)

22

## Number Three:

In [39]:
set_a = {101, 102, 103, 104, 105}
set_b = {104, 105, 106, 107}

print(set_a.difference(set_b))

{101, 102, 103}

## Number Four:

In [43]:
scores = {"Alice": 91, "Bob": 84, "Carol": 78, "David": 88, "Eve": 95}
for (name, score) in scores.items():
    if score > 85:
        print(name)

Alice
David
Eve

## Number Five:

In [50]:
raw_names = [" alice ", "BOB", "Alice", "carol", "Carol ", "dave"]
cleaned = [name.strip().title() for name in raw_names]
unique = set(cleaned)
print(unique)

{'Bob', 'Dave', 'Carol', 'Alice'}

## Number Six:

In [56]:
def average_price(prices):
    total = sum(prices)
    count = len(prices)
    return total / count

prices = [101.25, 98.75, 105.50, 110.00, 99.00]
result = average_price(prices)
print(result)

102.9

## Number Seven:

In [62]:
products = [{"name": "pen", "price": 5.00},{"name": "notebook", "price": 12.50},{"name": "eraser", "price": 3.25},{"name": "stapler", "price": 9.99},{"name": "backpack", "price": 35.00}]
updated = []
for product in products:
    if product["price"] < 10:
        product["price"] += 2
    updated.append(product)

print(updated)

[{'name': 'pen', 'price': 7.0}, {'name': 'notebook', 'price': 12.5}, {'name': 'eraser', 'price': 5.25}, {'name': 'stapler', 'price': 11.99}, {'name': 'backpack', 'price': 35.0}]