### 1).

In [2]:
prices = [15.99, 42.50, 8.75, 67.00, 23.40, 55.20, 9.99]
discounted_prices = []
for price in prices:
    if price > 30:
        discounted_prices.append(price * .9)
    else:
        discounted_prices.append(price)
print(discounted_prices)

[15.99, 38.25, 8.75, 60.300000000000004, 23.4, 49.68000000000001, 9.99]

### 2).

In [4]:
def add_sales_tax(price):
    price = price * 1.07
    return price

item_prices = [10.00, 25.50, 99.99, 5.75, 60.30]
final_prices = []
for price in item_prices:
    price = add_sales_tax(price)
    final_prices.append(price)
print(final_prices)

[10.700000000000001, 27.285, 106.9893, 6.152500000000001, 64.521]

### 3).

In [8]:
def categorize_score(score):
    if score >= 90:
        return("Excellent")
    elif score >= 70 and score <= 89:
        return("Pass")
    else:
        return("Fail")

scores = [95, 82, 67, 74, 59, 99, 70]
categories = []

for score in scores:
    category = categorize_score(score)
    categories.append(category)
print(categories)

['Excellent', 'Pass', 'Fail', 'Pass', 'Fail', 'Excellent', 'Pass']

### 4).

In [10]:
names = ["Alice", "Bob", "Carol", "David"]
grades = [88, 92, 77, 85]

student_scores = dict(zip(names, grades))
print(student_scores)

{'Alice': 88, 'Bob': 92, 'Carol': 77, 'David': 85}

### 5).

In [13]:
students = {
    "Alice": 88,
    "Bob": 92,
    "Carol": 77,
    "David": 85,
    "Eve": 95,
    "Frank": 67
}
a_students = []

for name, score in students.items():
    if score >= 90:
        a_students.append(name)
print(a_students)

['Bob', 'Eve']

### 6).

In [17]:
import math

def distance_from_origin(point):
    x, y = point
    return math.sqrt(x**2 + y**2)
points = [(3, 4), (1, 1), (0, 5), (-2, -3), (6, 8)]
distances = []
for point in points:
    point = distance_from_origin(point)
    distances.append(point)

print(distances)

[5.0, 1.4142135623730951, 5.0, 3.605551275463989, 10.0]